body {
  background-color: rgb(115, 196, 223);
  
}

main {
  border-style: inset;
  border-width: 10px;
  border-color: lightgreen;
  margin-top: 40px;
}
header {
  background-color: salmon;
  border-style: double;
  border-width: 5px;
  height: 80px;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 20px;
  display: flex;
  
}

header img {
  width: 20%
}

header img :nth-child(2){
  position: relative;
  position: right;
  
}

h1 {
  text-align: center;
  text-decoration: underline ;
  margin-bottom: 80px;
  margin-left: 290px;
  margin-right: 306px;
}

h2 {
text-align: left;
margin-left: 5%;
text-decoration: underline;
}

table {
  border-style: solid;
  border: black;
}

nav{
  border-style: ridge;
  border-color: rgb(28, 175, 28);
  border-width: 5px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: rgb(63, 161, 168);
  display: flex;
  text-align: center;
}

nav ul {
  margin-left: 175px;
  margin-right: 50px;
  list-style: none;
  
}

nav ul img {
  width: 5%;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li:hover{
background-color: black;
}

table * {
  border: 2px solid black;
}

table {
  border-collapse: collapse;
  margin: 20px;
}

td{
  padding: 10px;
}