body {
  background-color: rgb(115, 196, 223);
  
}

main {
  border-style: inset;
  border-width: 10px;
  border-color: lightgreen;
}
header {
  background-color: rgb(28, 175, 28);
  border-style: double;
  border-width: 5px;
  height: 80px;
  padding-top: 5px;
  margin-bottom: 5px;
  
}

h1 {
  text-align: center;
  text-decoration: underline ;
  margin-bottom: 30px;

}

nav {
height: 20px;
flex-direction: row;
display: flex;
justify-content: space-between;
text-align: center;
}

nav div {

}